@model IEnumerable<BMSPhase2Demo.Models.MATERIALSGROUP>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>

  <p  style =" font-size :20px;"> @Html.ActionLink("Create New", "Create")</p>

<table>
     <tr><th colspan="8" style="text-align: center; ">Material Group Summary View </th></tr>
    <tr>
        <th>
            Material Group SL No
        </th>
        <th>
            Material Group Code
        </th>
       @* <th>
            Material Group Code BG
        </th>*@
        <th>
            Material Group Name
        </th>
       @* <th>
            Material Group Name BG
        </th>*@
        <th colspan="3"  style="text-align :center " >
            
            Action
     </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MGSLNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MGROUPCODE)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.MGROUPCODEBG)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MGROUPCODENAME)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.MGROUPCODENAMEBG)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MGSLNO })

            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.MGSLNO })

            </td>
            <td>

                @Html.ActionLink("Delete", "Delete", new { id = item.MGSLNO })
            </td>
        </tr>
    }

</table>
