@model BMSPhase2Demo.Models.UPREQUEST

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="text-danger">Are you sure you want to delete this UP Request Details?</h3>
<fieldset>
    <legend>UPREQUEST</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STATUS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STATUS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CREATEDBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CREATEDBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CREATEDDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CREATEDDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MODIFIEDBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MODIFIEDBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MODIFIEDDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MODIFIEDDATE)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
