@model IEnumerable<BMSPhase2Demo.Models.BONDAPPLICATIONPROGRESS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PROGRESSSLNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BONDER.BONDLICENSENO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BONDSTATU.REFNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.READYFORAPP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIONDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATTACHFILENM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATTACHFILEPATH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INPUTBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INPUTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODIFIEDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODIFYDATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PROGRESSSLNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BONDER.BONDLICENSENO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BONDSTATU.REFNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.READYFORAPP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIONDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATTACHFILENM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATTACHFILEPATH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INPUTBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INPUTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODIFIEDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODIFYDATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
