@model BMSPhase2Demo.INBONDRAWMATERIAL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>INBONDRAWMATERIAL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRODUCTCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRODUCTCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRODUCTQUANTITY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRODUCTQUANTITY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QUANTITYUNIT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QUANTITYUNIT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRODUCTCOST)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRODUCTCOST)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COSTUNIT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COSTUNIT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INBOND.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INBOND.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CREATEDBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CREATEDBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CREATEDDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CREATEDDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MODIFIEDBY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MODIFIEDBY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MODIFIEDDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MODIFIEDDATE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
