@model BMSPhase2Demo.Models.BONDTYPE
@{
    ViewBag.Title = "Delete";
}
<style type="text/css">
    table, th, td {
        border: 0px;
        border-collapse: collapse;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        margin-left :270px;
    }

    .textBOxSize {
        width: 220px;
    }
</style>
<p style =" margin-left :400px;font-size :25px; ">Bond Type Information</p>
<h2 style ="margin-left :270px;">Delete</h2>

<h3 style ="margin-left :270px;">Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BONDTYPE</legend>



    <table>

        <tr>
            <td>
                Bond Type SL No:
                @Html.HiddenFor(model => model.BTYPESLNO)
            </td>
            <td>
                @Html.TextBoxFor(model => model.BTYPESLNO, new { @readonly = "readonly" })
            </td>
        </tr>
        <tr>
            <td>
                Bond Type Code:
            </td>
            <td> @Html.TextBoxFor(model => model.BTYPECODE, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>
                Bond Type Code BG:
            </td>
            <td>
                @Html.TextBoxFor(model => model.BTYPECODEBG, new { @readonly = "readonly" })
            </td>
        </tr>
        <tr>
            <td>Bond Type Name:</td>
            <td>@Html.TextBoxFor(model => model.BTYPENAME, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>Bond Type Name BG :</td>
            <td>@Html.TextBoxFor(model => model.BTYPENAMEBG, new { @readonly = "readonly" })</td>
        </tr>


        <tr>
            <td>Input By:</td>
            <td>@Html.TextBoxFor(model => model.INPUTBY, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>Input date:</td>
            <td>@Html.TextBoxFor(model => model.INPUTDATE, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>Modify By:</td>
            <td>@Html.TextBoxFor(model => model.MODIFIEDBY, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>Modified Date:</td>
            <td>@Html.TextBoxFor(model => model.MODIFYDATE, new { @readonly = "readonly" })</td>
        </tr>
    </table>

</fieldset>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <p style ="margin-left :270px;">
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
